body{
    margin: 0;
    padding: 0;
    background: url(image/istockphoto-1146532466-612x612.jpg);
    background-size: cover;

}
.contact-form{
    width: 60%;
    background: #ffffff;
    position: absolute;
    top:50%;
    left: 50%;
    transform:translate(-50%,-50%);
    padding: 30px 40px;
    box-sizing: border-box;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 20px #000000b3;

}
contact-form h1{
    color: #1a142f;
    margin-top: 0;
    font-weight:200;
    }
    
.txt{
    border: 1px solid gray;
    margin:8px 0;
    padding:12px 18px;
    border-radius: 8px;

}
.txt label{
    display: block;
    text-align: left;
    color: #333;
    text-transform: uppercase;
    font-size: 14px;
}
.txt input, .txt textarea{
    width:100%;
    border:none;
    background: none;
    outline: none;
    font-size: 18px;
    margin-top: 6px;
}
.btn{
    display:inline-block ;
    background: #1a142f;
    padding: 14px 0;
    color:#ffffff;
    text-transform: uppercase;
    cursor:pointer;
    margin-top:8px;
    width: 100%;

}
